<div class="contentTitle">
  <h2>Showing Article <%= link_to "(edit)", edit_article_path(@article) %> <span class="articleDelete"> <%= link_to "(destroy)", article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %></span></h2>
</div>

<div class="articleSub">
  <h2><%= @article.title %></h2>
  <p><%= @article.text %></p>
</div>

<div class="commentWrapper">
  <div class="commentAll">
    <h2>Comments</h2>
    <%= render @article.comments %>
  </div>

  <div class="commentForm">
    <h2>Add a comment</h2>
    <%= render 'comments/form' %>
  </div>
</div>

<div class="contentEndLinks">
  <%= link_to "Back to Articles", articles_path() %>
</div>
